@model CloudCemeteryManagementSystem.Models.LotOwner

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/DashBack.css">

    <style type="text/css">
        body {
            background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
            background-size: cover;
            background-attachment: fixed;
            margin: 0px;
            padding: 0px;
            font-family: 'Times New Roman';
        }

        .addlotowner {
            color: black;
        }

        .block {
            position: center;
            background-color: black;
            color: white;
            padding-top: 3.5%;
            padding-left: 18.7%;
            padding-right: 18.7%;
            padding-bottom: 100%;
            z-index: 8000;
            opacity: 0.97;
            font-family: "Times New Roman";
        }

        hr {
            display: block;
            margin-before: 0.5em;
            margin-after: 0.5em;
            margin-start: auto;
            margin-end: auto;
            overflow: hidden;
            border-style: inset;
            border-width: 1px;
        }
    </style>
</head>

<div style="color:white;">
    <div class="block">
        <div class="addlotowner">
            <h1 style="color: white; font-family:'Times New Roman';"><b>Details</b></h1>
            <hr />

            <div>
                <h4 style="color:white;"><center>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </center></h4>
                <hr />
                <dl class="row" style="color:white;">
                    <div class="container">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.LotOwnerNumber):
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.LotOwnerNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LotNumber):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LotNumber)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.FirstName):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LastName):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Address):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.City):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.City)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.State):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.State)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Zip):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Zip)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DateIssued):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DateIssued)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NumberOfLotsPurchased):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NumberOfLotsPurchased)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Cost):
                        </dt>
                        <dd class="col-sm-10">
                            $ @Html.DisplayFor(model => model.Cost)
                        </dd>
                        @* <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.LastEditedBy):
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.LastEditedBy)
                            </dd> *@
                    </div>
                </dl>
            </div>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

