@model IEnumerable<CloudCemeteryManagementSystem.Models.LotOwner>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/DashBack.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


    <style type="text/css">
        body {
            background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
            background-size: cover;
            background-attachment: fixed;
            margin: 0px;
            padding: 0px;
            font-family: 'Times New Roman';
        }

        .addlotowner {
            color: white;
        }

        a:first-child {
            border-right: none;
        }

        .block {
            position: center;
            background-color: black;
            color: white;
            padding-top: 3.5%;
            padding-left: 18.7%;
            padding-right: 18.7%;
            padding-bottom: 100%;
            z-index: 8000;
            opacity: 0.97;
            font-family: "Times New Roman";
        }

        hr {
            display: block;
            margin-before: 0.5em;
            margin-after: 0.5em;
            margin-start: auto;
            margin-end: auto;
            overflow: hidden;
            border-style: inset;
            border-width: 1px;
        }
    </style>
</head>

<div style="color: white;">
    <div class="block" style="width: 100%;">
        <div class="addlotowner">

            <h1 style="color: white; font-family:'Times New Roman';"><b>Index</b></h1>
            <hr />

            <p>
                <a asp-action="Create">Create New Lot Owner</a>
            </p>
            <div>
                <table class="table table-responsive" id="InfoTable" style="color:white; padding:1px;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.LotOwnerNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumberOfLotsPurchased)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody style="color:white;">
                        @if (!Model.Any())
                        {
                            <tr style="color:black;"><td text-center colspan="6" style="text-align:center;">No Interreds for this Lot Owner</td></tr>

                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <tr style="color:black;" Title="Last Edited By: @item.LastEditedBy">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LotOwnerNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.State)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumberOfLotsPurchased)
                                    </td>
                                    <td>
                                        <a asp-action="Index" asp-controller="Interred" asp-route-id="@item.Id">View</a> |
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot style="color:white;">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.LotOwnerNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.State)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NumberOfLotsPurchased)
                            </th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
