﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CloudCemeteryManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />

    <style>


        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
        }

        p.copyright {
            position: absolute;
            width: 100%;
            color: #fff;
            line-height: 40px;
            font-size: 0.7em;
            text-align: center;
            bottom: 0;
        }

        body {
            margin: 0px;
            padding: 0px;
            font-family: 'Times New Roman';
        }
    </style>
</head>

<body>
    <header style="background-color: #000000;">

        <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="opacity: 0.95; background-color: #000000; width: 100%; z-index: 9999;">
            <a style="top:50%;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <b>Management System</b> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="form-inline my-2 my-md-0" style="float: right; color: white;">
                    @User.Identity.Name <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container body-content">
        @RenderBody()
        @*
            <footer>
                <p class="copyright"><font color="grey">&copy; 2020 Saint Peter and Paul's Cemetery</font></p>
            </footer>

        *@



        <div class="footer" style="font-size: 10px; z-index: 9999; opacity:0.95; height: 21px;">
            <p><font color="grey">&copy; 2020 Saints Peter and Paul's Cemetery</font></p>
        </div>



        <!-- Footer -->
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#InfoTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'print'
                ]
            });

            $('#InfoTable tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });

            // DataTable
            var table = $('#InfoTable').DataTable();

            // Apply the search
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
