﻿@using CloudCemeteryManagementSystem.Areas.Identity
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<head>
    <link rel="stylesheet" href="~/css/buttons.css" />
</head>




<div class="login-out">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="nav-item">
            <form class="form-inline" style="float:right;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="topnav btn btn-link text-light">Logout</button>
            </form>
        </div>

        @*
            // Removed ( asp-page="/Account/Manage/Index" ) because only the admin can manage this through their dashoboard.
            <div>
                <a style="float:right; font-size: 12px; top: 50%; padding-top:20px;" asp-area="Identity"> @User.Identity.Name </a>
            </div>
        *@

    }
    else
    {
        <div class="nav-item">
            <a class="topnav btn btn-link text-light" style="float:right;" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    }
</div>
