﻿@{
    ViewData["Title"] = "Index";
}

@model UserManagementModel
@using Microsoft.AspNetCore.Identity

<style type="text/css">
    body {
        background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
        background-size: cover;
        background-attachment: fixed;
        margin: 0px;
        padding: 0px;
        font-family: 'Times New Roman';
    }
</style>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<style>
    .text-block {
        border: 2px solid black;
        border-radius: 25px;
        bottom: -416px;
        right: 530px;
        background-color: white;
        color: white;
        margin-top: 20px;
        padding-top: 25px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        opacity: 0.7;
    }


    .block {
        position: center;
        background-color: black;
        color: white;
        padding-top: 3.5%;
        padding-left: 18.7%;
        padding-right: 18.7%;
        padding-bottom: 100%;
        z-index: 8000;
        opacity: 0.97;
        font-family: "Times New Roman";
    }

    hr {
        display: block;
        margin-before: 0.5em;
        margin-after: 0.5em;
        margin-start: auto;
        margin-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
</style>

<div style="color: white;">
    <div class="block" style="position: center; color: white;">
        <div>
            <h1 style="color: white; font-family:'Times New Roman';"><b>Users</b></h1>
            <hr />

            <div class="form-group" style="">
                <span>
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-dark">Add a User</a>
                </span>
                <span>
                    <a asp-controller="Role" asp-action="Index" class="btn btn-dark">Modify Roles</a>
                </span>
            </div>


            <table class="table table-sm table-bordered table-bordered table-responsive" style="color: white; position: relative;">
                <tr><th>Last Name</th><th>First Name</th><th>Email</th><th>Role</th><th>Delete</th></tr>
                @foreach (var user in Model.userRoleList)
                {
                    <tr title="Registered by: @user.RegisteredBy">

                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.role</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>

                    </tr>
                }
            </table>
        </div>
    </div>
</div>
