﻿@{
    ViewData["Title"] = "Create";
}

@model string

<style type="text/css">
    body {
        background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
        background-size: cover;
        background-attachment: fixed;
        margin: 0px;
        padding: 0px;
        font-family: 'Times New Roman';
    }

    .block {
        position: center;
        background-color: black;
        color: white;
        padding-top: 3.5%;
        padding-left: 18.7%;
        padding-right: 18.7%;
        padding-bottom: 100%;
        z-index: 8000;
        opacity: 0.97;
        font-family: "Times New Roman";
    }

    hr {
        display: block;
        margin-before: 0.5em;
        margin-after: 0.5em;
        margin-start: auto;
        margin-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
</style>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/DashBack.css">


</head>

<div style="color: white;">
    <div class="block" style="position: center; color: white;">
        <div>
            <h1 style="color: white; font-family:'Times New Roman';"><b>Create a Role</b></h1>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <form asp-action="Create" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input name="name" class="form-control" />
                </div>
                <button type="submit" class="btn btn-dark">Create</button>
            </form>
        </div>
    </div>
</div>
