﻿@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/DashBack.css">

</head>
<style type="text/css">

    body {
        background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
        background-size: cover;
        background-attachment: fixed;
        margin: 0px;
        padding: 0px;
        font-family: 'Times New Roman';
    }

    .block {
        position: center;
        background-color: black;
        color: white;
        padding-top: 3.5%;
        padding-left: 18.7%;
        padding-right: 18.7%;
        padding-bottom: 100%;
        z-index: 8000;
        opacity: 0.97;
        font-family: "Times New Roman";
    }

    hr {
        display: block;
        margin-before: 0.5em;
        margin-after: 0.5em;
        margin-start: auto;
        margin-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
</style>

<div style="color: white;">
    <div class="block">
        <div>
            <h1 style="color: white; font-family:'Times New Roman';"><b>Roles</b></h1>
            <hr />

            <div class="form-group">
                <span>
                    <a asp-action="Create" class="btn btn-dark">Create a Role</a>
                </span>
            </div>


            <table class="table table-sm table-bordered table-bordered table-responsive" style="color: white;">
                <tr><th>Name</th><th>Users</th><th>Update</th><th>Delete</th></tr>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td i-role="@role.Id"></td>
                        <td><a class="btn btn-sm btn-dark" asp-action="Update" asp-route-id="@role.Id">Update</a></td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
