﻿@{
    ViewData["Title"] = "Update";
}

@model RoleEdit

<style type="text/css">
    body {
        background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
        background-size: cover;
        background-attachment: fixed;
        margin: 0px;
        padding: 0px;
        font-family: 'Times New Roman';
    }

    .block {
        position: center;
        background-color: black;
        color: white;
        padding-top: 3.5%;
        padding-left: 18.7%;
        padding-right: 18.7%;
        padding-bottom: 100%;
        z-index: 8000;
        opacity: 0.97;
        font-family: "Times New Roman";
    }

    hr {
        display: block;
        margin-before: 0.5em;
        margin-after: 0.5em;
        margin-start: auto;
        margin-end: auto;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
    }
</style>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/DashBack.css">

</head>

<div style="color: white;">
    <div class="block">
        <div>
            <h1 style="color: white; font-family:'Times New Roman';"><b>Update Role</b></h1>
            @*<hr />*@

            <div asp-validation-summary="All" class="" text-danger></div>

            <form method="post">
                <input type="hidden" name="roleName" value="@Model.Role.Name" />
                <input type="hidden" name="roleId" value="@Model.Role.Id" />

                <h2 style="margin-top: 60px; color: white;">Add to @Model.Role.Name:</h2>
                <table class="table table-bordered table-sm table-responsive" style="margin-top: 30px; color:white; text-align: center;">
                    @if (!Model.NonMembers.Any())
                    {
                        <tr><td colspan="2">All Users are Members of This Role</td></tr>
                    }
                    else
                    {
                        @foreach (IdentityUser user in Model.NonMembers)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>
                                    <input type="checkbox" name="AddIds" value="@user.Id" />
                                </td>
                            </tr>
                        }
                    }
                </table>

                <h2 style="margin-top: 60px">Remove From @Model.Role.Name:</h2>
                <table class="table table-bordered table-sm table-responsive" style="margin-top: 30px; color:white; text-align: center;">
                    @if (!Model.Members.Any())
                    {
                        <tr><td colspan="2">No Users are Members of This Role</td></tr>
                    }
                    else
                    {
                        @foreach (IdentityUser user in Model.Members)
                        {
                            <tr>
                                <td>@user.UserName</td>
                                <td>
                                    <input type="checkbox" name="DeleteIds" value="@user.Id" />
                                </td>
                            </tr>
                        }
                    }
                </table>
                <button type="submit" class="btn btn-dark" style="margin-top: 30px">Submit</button>
            </form>
        </div>
    </div>
</div>

