@model CloudCemeteryManagementSystem.Models.Interred

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/DashBack.css">


    <style type="text/css">
        body {
            background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
            background-size: cover;
            background-attachment: fixed;
            margin: 0px;
            padding: 0px;
            font-family: 'Times New Roman';
        }

        .interreddetails {
            color: black;
        }

        .block {
            position: center;
            background-color: black;
            color: white;
            padding-top: 3.5%;
            padding-left: 18.7%;
            padding-right: 18.7%;
            padding-bottom: 100%;
            z-index: 8000;
            opacity: 0.97;
            font-family: "Times New Roman";
        }

        hr {
            display: block;
            margin-before: 0.5em;
            margin-after: 0.5em;
            margin-start: auto;
            margin-end: auto;
            overflow: hidden;
            border-style: inset;
            border-width: 1px;
        }
    </style>
</head>

<div style="color:white;">
    <div class="block">
        <div class="interreddetails">
            <h1 style="color: white; font-family:'Times New Roman';"><b>Details</b></h1>
            <hr />

            <div>
                <h4 style="color:white;"><center>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) </center></h4>
                <hr />
                <dl class="row" style="color: white;">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.InternmentNumber):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.InternmentNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.FirstName):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastName):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Gender):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.MaritalStatus):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.MaritalStatus)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NameOfSpouse):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NameOfSpouse)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateOfDeath):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateOfDeath)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ApprovalDate):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ApprovalDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PlaceOfDeath):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PlaceOfDeath)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DateOfBurial):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DateOfBurial)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TimeOfMass):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TimeOfMass)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.SectionOfCemetery):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.SectionOfCemetery)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PropertyStyle):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PropertyStyle)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IsVeteran):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IsVeteran)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NameOfFuneralHome):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NameOfFuneralHome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NameOfChurch):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NameOfChurch)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PotentialInterred):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PotentialInterred)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.LastEditedBy):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.LastEditedBy)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Information):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Information)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <span style="color:white;"> |</span>
                <a asp-action="Index" asp-route-id="@Model.LotOwnerId">Back to List</a>
            </div>
        </div>
    </div>
</div>