@model CloudCemeteryManagementSystem.Models.Interred

@{
    ViewData["Title"] = "Edit";
}

<head>
    <link rel="stylesheet" href="~/css/DashBack.css">


    <style type="text/css">
        body {
            background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
            background-size: cover;
            background-attachment: fixed;
            margin: 0px;
            padding: 0px;
            font-family: 'Times New Roman';
        }

        .editinterred {
            color: black;
        }

        .block {
            position: center;
            background-color: black;
            color: white;
            padding-top: 3.5%;
            padding-left: 18.7%;
            padding-right: 18.7%;
            padding-bottom: 100%;
            z-index: 8000;
            opacity: 0.97;
            font-family: "Times New Roman";
        }

        hr {
            display: block;
            margin-before: 0.5em;
            margin-after: 0.5em;
            margin-start: auto;
            margin-end: auto;
            overflow: hidden;
            border-style: inset;
            border-width: 1px;
        }
    </style>
</head>

@* <h1>Edit and Interred of @ViewBag.lotOwner.FirstName @ViewBag.lotOwner.LastName</h1> *@

<div style="color:white;">
    <div class="block">
        <div class="addlotowner">

            <h1 style="color: white; font-family:'Times New Roman';"><b>Edit Lot Owner</b></h1>
            <hr />

            <div class="row">
                <div class="container">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="LotOwnerId" />
                        <input type="hidden" asp-for="InternmentNumber" />
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <label asp-for="Gender" class="control-label"></label>
                                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()" class="form-control">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="MaritalStatus" class="control-label"></label>
                                <select asp-for="MaritalStatus" asp-items="Html.GetEnumSelectList<MaritalStatus>()" class="form-control">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="NameOfSpouse" class="control-label"></label>
                                <input asp-for="NameOfSpouse" class="form-control" />
                                <span asp-validation-for="NameOfSpouse" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="DateOfDeath" class="control-label"></label>
                                <input asp-for="DateOfDeath" class="form-control" />
                                <span asp-validation-for="DateOfDeath" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ApprovalDate" class="control-label"></label>
                                <input asp-for="ApprovalDate" class="form-control" />
                                <span asp-validation-for="ApprovalDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PlaceOfDeath" class="control-label"></label>
                            <input asp-for="PlaceOfDeath" class="form-control" />
                            <span asp-validation-for="PlaceOfDeath" class="text-danger"></span>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="DateOfBurial" class="control-label"></label>
                                <input asp-for="DateOfBurial" class="form-control" />
                                <span asp-validation-for="DateOfBurial" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="TimeOfMass" class="control-label"></label>
                                <input asp-for="TimeOfMass" class="form-control" />
                                <span asp-validation-for="TimeOfMass" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="SectionOfCemetery" class="control-label"></label>
                                <select asp-for="SectionOfCemetery" asp-items="Html.GetEnumSelectList<SectionOfCemetery>()" class="form-control">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="SectionOfCemetery" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="PropertyStyle" class="control-label"></label>
                                <select asp-for="PropertyStyle" asp-items="Html.GetEnumSelectList<PropertyStyle>()" class="form-control">
                                    <option selected="selected" value="">Please select</option>
                                </select>
                                <span asp-validation-for="PropertyStyle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="IsVeteran" /> @Html.DisplayNameFor(model => model.IsVeteran)
                            </label>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label asp-for="NameOfFuneralHome" class="control-label"></label>
                                <input asp-for="NameOfFuneralHome" class="form-control" />
                                <span asp-validation-for="NameOfFuneralHome" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="NameOfChurch" class="control-label"></label>
                                <input asp-for="NameOfChurch" class="form-control" />
                                <span asp-validation-for="NameOfChurch" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="PotentialInterred" /> @Html.DisplayNameFor(model => model.PotentialInterred)
                            </label>
                        </div>
                        <div class="form-group">
                            <label asp-for="Information" class="control-label"></label>
                            <textarea asp-for="Information" class="form-control"></textarea>
                            <span asp-validation-for="Information" class="text-danger"></span>
                        </div>
                        @* <div class="form-group">
                                <label asp-for="LotOwnerId" class="control-label"></label>
                                <select asp-for="LotOwnerId" class="form-control" asp-items="ViewBag.LotOwnerId"></select>
                                <span asp-validation-for="LotOwnerId" class="text-danger"></span>
                            </div> *@
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div>
                            <a asp-action="Index" asp-route-id="@Model.LotOwnerId">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
