﻿@model IEnumerable<CloudCemeteryManagementSystem.Models.LotOwner>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/DashBack.css">

    <style type="text/css">
        body {
            background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
            background-size: cover;
            background-attachment: fixed;
            margin: 0px;
            padding: 0px;
            font-family: 'Times New Roman';
        }

        .addlotowner {
            color: black;
        }

        a:first-child {
            border-right: none;
        }

        .block {
            position: center;
            background-color: black;
            color: white;
            padding-top: 3.5%;
            padding-left: 18.7%;
            padding-right: 18.7%;
            padding-bottom: 100%;
            z-index: 8000;
            opacity: 0.97;
            font-family: "Times New Roman";
        }

        hr {
            display: block;
            margin-before: 0.5em;
            margin-after: 0.5em;
            margin-start: auto;
            margin-end: auto;
            overflow: hidden;
            border-style: inset;
            border-width: 1px;
        }
    </style>
</head>

<div style="color:white;">
    <div class="block">
        <div class="addlotowner">

            <h1 style="color: white; font-family:'Times New Roman';">
                <b>
                    Interreds for @Html.DisplayFor(model => Model.First().FirstName)
                    @Html.DisplayFor(model => Model.First().LastName)
                </b>
            </h1>
            <hr />

            <p>
                <a asp-action="Create" asp-route-id="@Model.First().Id">
                    Create New Interred
                </a>
            </p>
            <table class="table table-responsive" style="color:white;" id="InfoTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().InternmentNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().MaritalStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().DateOfDeath)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody style="color:black;">
                    @if (!Model.First().Interreds.Any())
                    {
                        <tr style="color:black;"><td text-center colspan="6" style="text-align:center;">No Interreds for this Lot Owner</td></tr>

                    }
                    else
                    {
                        @foreach (var item in Model.First().Interreds)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InternmentNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MaritalStatus)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfDeath)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
                <tfoot style="color:white;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().InternmentNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().MaritalStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Interreds.First().DateOfDeath)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <a asp-controller="LotOwner" asp-action="Index">Back to list of Lot Owners</a>
        </div>
    </div>
</div>

