﻿.topnav {
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
    background-color: #000000;
    border-bottom: 2px;
    opacity: 0.9;
    border-bottom-color: #f2f2f2
}

    .topnav .login-out .nav-item a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #4CAF50;
            color: white;
        }



.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidebar a:hover {
            color: #f1f1f1;
        }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

    .openbtn:hover {
        background-color: #444;
    }

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    padding: 0px 50px;
    text-align: center;
    text-rendering: optimizeLegibility;
}

    h1.elegantshadow {
        color: #131313;
        background-color: transparent;
        letter-spacing: 0.1em;
        text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #787777, -3px 6px 1px #7f7d7d, -4px 8px 1px #828181, -5px 10px 1px #8b8a89, -6px 12px 1px #949392, -7px 14px 1px #999897, -8px 16px 1px #a3a1a1, -9px 18px 1px #adabab, -10px 20px 1px #b7b6b5, -11px 22px 1px #c1bfbf;
    }
