﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body {
            background-image: url(https://www.stratoscale.com/wp-content/uploads/2019/05/bigstock-168398480.jpg);
            background-size: cover;
            background-attachment: fixed;
            margin: 0px;
            padding: 0px;
            font-family: 'Times New Roman';
        }


        .login-block {
            position: fixed;
            background-color: black;
            color: white;
            padding-top: 3.5%;
            padding-left: 4.7%;
            padding-right: 4.7%;
            padding-bottom: 100%;
            z-index: 8000;
            opacity: 0.95;
        }

        .centerd {
            left: 0;
            line-height: 200px;
            margin-top: -100px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
            z-index: 7000;
        }
    </style>
</head>
<body>

    <div class="login-block">
        <div class="container" style="position: center;">
            <div class="row">
                <div class="col-md-15">
                    <section>
                        <form id="account" method="post">
                            <h4><strong>Log In</strong></h4>
                            <hr />
                            @*<div asp-validation-summary="All" class="text-danger"></div>*@
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Log in</button>
                            </div>
                            <div class="form-group">
                                <p><span style="opacity:0;"> . </span></p>
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password? </a>
                                </p>
                                @*<p> <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>*@
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="centerd">
            <h1 class="elegantshadow"><center><font><b>Saints Peter & Paul</b></font></center></h1>
            <h1 class="elegantshadow"><center><font><b>Managment System</b></font></center></h1>
        </div>
    </div>

</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
