﻿@{
    ViewBag.Title = "Dashboard";
}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="~/css/DashBack.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300i,400" rel="stylesheet">

</head>
<style type="text/css">
    body {
        background-image: url(https://i.pinimg.com/originals/6d/a3/c4/6da3c4228b17b9357ce6c3bd42a4c665.jpg);
        background-size: cover;
        background-attachment: fixed;
        margin: 0px;
        padding: 0px;
        font-family: 'Times New Roman';
    }
</style>

<!-- Page Content -->

<div class="con">

    <div class="card">
        <a asp-area="" asp-controller="LotOwner" asp-action="Index" class="stretched-link"></a>
        <h3 class="title">Add Lot</h3>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>

        <div class="circle">
            <img src="https://cdn0.iconfinder.com/data/icons/funeral-basic-lineal/512/39_Credit_Card-512.png" alt="..." style="position:center; width:80%; height:80%;" />

        </div>
    </div>
    @*
    <div class="card">
        <a asp-area="" asp-controller="Home" asp-action="SearchLotOwnerInfo" class="stretched-link"></a>
        <h3 class="title">Search Lot</h3>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>

        <div class="circle">
            <img src="https://cdn1.iconfinder.com/data/icons/cloud-computing-51/66/19-512.png" alt="..." style="position:center; width:80%; height:80%;" />

        </div>
    </div>
        *@
    <div class="card">
        <a asp-area="" asp-controller="Home" asp-action="Map" class="stretched-link"></a>
        <h3 class="title">Map</h3>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>

        <div class="circle">
            <img src="https://cdn2.iconfinder.com/data/icons/cosmo-mobile/40/map_1-512.png" alt="..." style="position:center; width:80%; height:80%;" />

        </div>
    </div>

    <div class="card">
        <a asp-area="" asp-controller="UserManagement" asp-action="Index" class="stretched-link"></a>
        <h3 class="title">Settings</h3>
        <div class="bar">
            <div class="emptybar"></div>
            <div class="filledbar"></div>
        </div>

        <div class="circle">
            <img src="https://cdn0.iconfinder.com/data/icons/business-and-finance-glyph-24/64/business-and-finance-glyph-24-12-512.png" alt="..." style="position:center; width:80%; height:80%;" />

        </div>
    </div>

</div>



@*<div>
        <span style="opacity:0;">This sentence is invisible ____________________________________________________________________________________________________________</span>
        <div class="text-block">
        <div class="cards">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://cdn1.iconfinder.com/data/icons/cloud-computing-51/66/19-512.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Search Lot Owner Info</h5>
                            <p class="card-text">Search for specific lot owner information.</p>
                            <a asp-area="" asp-controller="Home" asp-action="SearchLotOwnerInfo" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://cdn0.iconfinder.com/data/icons/funeral-basic-lineal/512/39_Credit_Card-512.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Add Lot Owner</h5>
                            <p class="card-text">
                                Add Lot Owner information. <span style="opacity:0;">This sentence is invisible</span>
                            </p>
                            <a asp-area="" asp-controller="LotOwner" asp-action="Index" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="https://cdn2.iconfinder.com/data/icons/cosmo-mobile/40/map_1-512.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">Map</h5>
                            <p class="card-text">
                                View a map of the Cemetery. <span style="opacity:0;">This sentence is invisible</span>
                            </p>
                            <a asp-area="" asp-controller="Home" asp-action="Map" class="stretched-link"></a>
                        </div>
                    </div>
                </div>

                @*

            <div class="col mb-4">
                <div class="card">
                    <img src="https://cdn0.iconfinder.com/data/icons/business-and-finance-glyph-24/64/business-and-finance-glyph-24-12-512.png" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Admin Settings</h5>
                        <p class="card-text">Change settings and controls for admin.</p>
                        <a asp-area="" asp-controller="Home" asp-action="AdminSettings" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="card">
                    <img src="https://cdn0.iconfinder.com/data/icons/project-management-1-14/65/44-512.png" class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Worker Settings</h5>
                        <p class="card-text">Change setting and controls for workers.</p>
                        <a asp-area="" asp-controller="Home" asp-action="WorkerSettings" class="stretched-link"></a>
                    </div>
                </div>
            </div>



                <div class="col mb-4">
                    <div class="card">
                        <img src="https://cdn3.iconfinder.com/data/icons/business-and-finance-glyph-20/64/business-and-finance-glyph-20-10-512.png" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">User Management</h5>
                            <p class="card-text">Add new users and modify roles</p>
                            <a asp-area="" asp-controller="UserManagement" asp-action="Index" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
*@
