﻿@{
    ViewData["Title"] = "ErrorPleaseSignIn";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/buttons.css" />

    <style type="text/css">
        body {
            background-image: url(https://www.stratoscale.com/wp-content/uploads/2019/05/bigstock-168398480.jpg);
            background-size: cover;
            background-attachment: fixed;
            margin: 0px;
            padding: 0px;
            font-family: 'Times New Roman';
        }

        .text-block {
            border: 2px solid black;
            border-radius: 25px;
            position: fixed;
            background-color: white;
            color: white;
            padding-top: 40px;
            padding-left: 45px;
            padding-right: 45px;
            padding-bottom: 40px;
            opacity: 0.7;
        }

        .centerd {
            left: 0;
            line-height: 200px;
            margin-top: -100px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div>
        <div class="centerd">
            <h1 class="elegantshadow"><center><font color="black"><b>Login to View </b></font></center></h1>
            <h1 class="elegantshadow"><center><font color="black"><b>Dashboards!</b></font></center></h1>
            <p><center><font color="black"><b>Contact Kim Hunt for more information</b></font></center></p>
        </div>
    </div>
</body>