﻿@{
    ViewData["Title"] = "Home Page";
}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/buttons.css" />

    <style type="text/css">
        body {
            background-image: url(https://www.stratoscale.com/wp-content/uploads/2019/05/bigstock-168398480.jpg);
            background-size: cover;
            background-attachment: fixed;
            margin: 0px;
            padding: 0px;
            font-family: 'Times New Roman';
        }

        .text-block {
            position: fixed;
            height: 100%;
            width: 100%;
            border-right: 2px solid white;
            border-left: 2px solid white;
            border-radius: 25px;
            background-color: black;
            color: white;
            padding-top: 40px;
            padding-left: 45px;
            padding-right: 45px;
            padding-bottom: 40px;
            opacity: 0.85;
            top: 50%;
        }

        .centerd {
            left: 0;
            line-height: 200px;
            margin-top: -100px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
            z-index: 7000;
        }
    </style>
</head>

<body>
    <div>
        <div class="centerd">
            <h1 class="elegantshadow"><center><font><b>Saints Peter & Paul</b></font></center></h1>
            <h1 class="elegantshadow"><center><font><b>Managment System</b></font></center></h1>
        </div>
    </div>
</body>
