﻿@{
    ViewData["Title"] = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Map</h2>*@

<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY" async defer></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>

    @*<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
        <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />

        <script type="text/javascript">
            window.onload = function () {
                L.mapquest.key = 'lYrP4vF3Uk5zgTiGGuEzQGwGIVDGuy24';

                var map = L.mapquest.map('map', {
                    center: [41.019035, -84.058624],
                    layers: L.mapquest.tileLayer('map'),
                    zoom: 18,
                    mtype: 'sat'
                });

                L.marker([41.019035, -84.058624], {
                    icon: L.mapquest.icons.marker(),
                    draggable: false
                }).bindPopup('Saint Peter and Paul Cemetary').addTo(map); //fix Paul to Paul's

                //L.circle([41.019035, -84.058624], { radius: 20000 }).addTo(map);

                map.addControl(L.mapquest.satelliteControl());

                var ottawaLatLngs = [
                    [41.018182, -84.058656],
                    [41.018182, -84.057131],
                    [41.016765, -84.056257],
                    [41.01615, -84.058656]
                ];

                L.polygon(ottawaLatLngs, { color: 'blue' }).addTo(map);
            };
        </script>*/*@
    <style>
        body {
            background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
            background-size: cover;
            background-attachment: fixed;
        }

        .text-block {
            border: 2px solid black;
            border-radius: 25px;
            bottom: -416px;
            right: 530px;
            background-color: white;
            color: white;
            margin-top: 20px;
            padding-top: 25px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            opacity: 0.7;
            color: black;
        }
    </style>

</head>


<body style="border: 0; margin: 0;">
    <div class="container">
        <div class="text-block">
            <h1>
                <b>Map</b>
            </h1>
            <div id="mapid" style="width: 100%; height: 530px;"></div>
            <script>
                var mymap = L.map('mapid').setView([41.017417, -84.057973], 18);

                function createButton(label, container) {
                    var btn = L.DomUtil.create('button', '', container);
                    btn.setAttribute('type', 'button');
                    btn.innerHTML = label;
                    return btn;
                }
                
                function addMarker(e)
                {
                    var marker = new L.marker(e.latlng).addTo(mymap);
                    
                    var targeturl = '@Url.Action("StoreMarkers")?latlng=' + e.latlng.toString();
                    $.ajax({
                    type: "POST",
                    url: targeturl,
                    success: function (data){
                    alert(data)
                    },
                    failure: function (errMsg){
                    alert(errMsg);
                    }
                    })
                }

                L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    maxZoom: 20,
                    id: 'mapbox/satellite-v9',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'pk.eyJ1IjoiY2J1cmxleSIsImEiOiJjazk4dXk4dmUwMTNzM2dua2ptY3E3NDNzIn0.LZHgjxb8U2gSywBDY1ledg'
                }).addTo(mymap);
                var marker = L.marker([41.017417, -84.057973]).addTo(mymap);
                marker.bindPopup("Saint Peter and Paul Cemetery <img src='https://images.findagrave.com/photos/2008/221/CEM46995371_121833164818.jpg' style='width:310px;height:170px;'/>");
                L.Routing.control({
                    waypoints: [
                        L.latLng(41.017417, -84.058300),
                        L.latLng(41.018765, -84.058048)
                    ],
                    routeWhileDragging: true
                }).addTo(mymap);
                mymap.on('click', addMarker);
                                //L.DomEvent.on(startBtn, 'click', function() {
                                //        control.spliceWaypoints(0, 1, e.latlng);
                                //        map1.closePopup();
                                //});
                                //L.DomEvent.on(destBtn, 'click', function() {
                                //    control.spliceWaypoints(control.getWaypoints().length - 1, 1, e.latlng);
                                //    map1.closePopup();
                                //});
            </script>
        </div>
    </div>
</body>
</html>
