﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        body {
            background-image: url(https://www.stratoscale.com/wp-content/uploads/2019/05/bigstock-168398480.jpg);
            background-size: cover;
            background-attachment: fixed;
        }

        .container {
            position: relative;
            font-family: Arial;
        }

        .text-block {
            border: 2px solid black;
            border-radius: 25px;
            position: absolute;
            bottom: -416px;
            right: 530px;
            background-color: white;
            color: white;
            padding-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            opacity: 0.7;
        }

        body {
            background-image: url(https://www.stratoscale.com/wp-content/uploads/2019/05/bigstock-168398480.jpg);
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="text-block">
            <h1><center><font color="black"><b><span style="opacity:0;"> | </span> Privacy Policy Page <span style="opacity:0;"> . </span></b></font></center></h1>
            <h1><center><font color="black"><b><span style="opacity:0;"> . </span></b></font></center></h1>
            <p><center><font color="black"> Contact Kim Hunt for more information </font></center></p>
        </div>
    </div>
</body>