﻿@{
    ViewData["Title"] = "SearchInterredInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    body {
        background-image: url('https://www.pixeden.com/media/k2/galleries/93/003-subtle-light-pattern-background-texture.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
</style>

<h2>SearchInterredInfo</h2>

